<html lang="en">
    <body>
    <h1>{{now}}</h1>
    <table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Sell By Date</th>
        <th>Sell By Days</th>
        <th>Quality</th>{{#if isPricingEnabled}}
        <th>Price</th>{{/if}}
    </tr>
    {{#each this.items}}<tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{sellByDate}}</td>
        <td style="text-align: right">{{sellByDays}}</td>
        <td style="text-align: right">{{quality}}</td>{{#if isPricingEnabled}}
        <td style="text-align: right">{{price}}</td>{{/if}}
    </tr>
    {{/each}}
    </table>
    </body>
</html>
