{{#unless justTable}}
<html lang="en">
<head>
    <title>Gilded Rose</title>
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
</head>
<body>
<h1>{{now}}</h1>
{{#if showNewItemRow}} <form method="post" action="/add-item" hx-post="/add-item" hx-target="table" id="new-item-form"></form> {{/if}}
<form method="post" action="/delete-items" hx-post="/delete-items" hx-target="table" hx-confirm="Are you sure you want to delete the items?">
    <input type="submit" value="Delete" aria-label="Delete selected items" >
{{/unless}}
    <table>
        <tr>
        <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Sell By Date</th>
            <th>Sell By Days</th>
            <th>Quality</th>
            <th>Price</th>
        </tr>
        {{#if showNewItemRow}}
        <tr>
            <td></td>
            <td><input form="new-item-form" type="text" name="new-itemId" required size="5" aria-label="New item id"></td>
            <td><input form="new-item-form" type="text" name="new-itemName" required size="20" aria-label="New item name"></td>
            <td><input form="new-item-form" type="date" name="new-itemSellBy" aria-label="New item sell by date"></td>
            <td></td>
            <td style="text-align: right"><input type="number" form="new-item-form" name="new-itemQuality" required min="0" size="3" aria-label="New item quality"></td>
            <td><input type="submit" form="new-item-form" value="Add" style="width: 100%" aria-label="Add new item"></td>
        </tr>
        {{/if}}
        {{#each this.items}}
            <tr>
                <td><input type="checkbox" name="{{id}}" aria-label="Select item"></td>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{sellByDate}}</td>
                <td style="text-align: right">{{sellByDays}}</td>
                <td style="text-align: right">{{quality}}</td>
                <td style="text-align: right">{{price}}</td>
            </tr>
        {{/each}}
    </table>
{{#unless justTable}}
</form>
</body>
</html>
{{/unless}}
